// Mixins
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin transition($transition...) {
	-moz-transition:    $transition;
	-o-transition:      $transition;
	-webkit-transition: $transition;
	transition:         $transition;
}

@mixin floating() {
	-webkit-animation-name: FloatingY;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: Floating;
	-moz-animation-duration: 3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;

	@-webkit-keyframes FloatingY{
		from {-webkit-transform:translate(0, 0px);}
		65% {-webkit-transform:translate(0, 15px);}
		to {-webkit-transform: translate(0, -0px);}
	}
        
	@-moz-keyframes Floating{
		from {-moz-transform:translate(0, 0px);}
		65% {-moz-transform:translate(0, 15px);}
		to {-moz-transform: translate(0, -0px);}    
	}
}

@mixin scaling() {
	-webkit-animation-name: Scale;
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-moz-animation-name: scale;
	-moz-animation-duration:3s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function:ease-in-out;
    
	@-webkit-keyframes Scale{
		from {-webkit-transform: scale(0.95);}
		65% {-webkit-transform: scale(1.0);}
		to {-webkit-transform: scale(0.95);}
	}
			
	@-moz-keyframes scale{
		from {-moz-transform: scale(0.95);}
		65% {-moz-transform: scale(1.0);}
		to {-moz-transform: scale(0.95);}
	}
}