// Color
$blue: #6c8fbd;

$yellow: #e1b852;

$pink: #de9b98;
$pink-orange: #f5785d;

$red-light: #cc4635;
$red-dark: #9e3c2f;

$brown: #BCAAA4;
$brown-light: #5f4f47;
$brown-alt: #4E342E;
$brown-medium: #5D4037;
$brown-dark: #060b0e;

// Layer Order
$landing-index: 10000;
