// Color
$blue: #6c8fbd;

$yellow: #e1b852;

$pink: #de9b98;
$pink-orange: #f5785d;

$red-light: #cc4635;
$red-dark: #9e3c2f;

$brown-light: #634b28;
$brown-dark: #5f4f47;

// Layer Order
$landing-index: 10000;
