/**
 * RubyConf Taiwan 2016
 */

@import "bemify";
//  CSS framework //
@import "bootstrap";

@import "setting";

@import "layout/home";
@import "layout/nav";
@import "layout/venue";
@import "layout/coc";
@import "layout/sponsor";
@import "layout/footer";

body{
  background: url(../images/landing/bg.jpg) no-repeat, $brown-light;
  background-size: contain;
  color: white;
}

@include block('main') {
  background-image: url(../images/background/cave_bottom.svg) no-repeat;
  background-position: bottom;
  background-size: 180% auto;
  position: relative;

  padding-top: 30px;

  @media (min-width: $screen-sm) {
    background-image:
      url(../images/background/cave_bottom.svg),
      url(../images/background/cave_left.svg), 
      url(../images/background/cave_right.svg);
    background-position: bottom, left, right;
    background-repeat: no-repeat, repeat-y, repeat-y;
    background-size: contain;
  }

  @include block('title') {
    background: url(../images/gem_icon.png) no-repeat;
    margin-left: -40px;
    padding: 35px 0 35px 80px;
    
    @media (min-width: $screen-sm) {
      padding: 30px 0  30px 80px;
    }

    h1{
      display: inline;
      font-size: 28px;

      @media (min-width: $screen-sm) {
        font-size: 36px;
      }
    }
  }
}
