/**
 * RubyConf Taiwan 2016
 */

@import "bemify";
//  CSS framework //
@import "bootstrap";

@import "setting";

@import "layout/nav";
@import "layout/footer";

body{
  background-color: $brown-light;
  color: white;
}

@include block('main') {

  @media (min-width: $screen-sm) {
    background-image: url(../images/background/cave.svg);
    background-attachment: fixed;
    background-repeat: y-repeat;
    background-size: contain;

    padding-top: 60px;
  }
}

@include block('title') {
  padding: 20px 0;
  text-align: center;

  h1{
    background-color: $brown-light;
    display: inline;
  }

}