/**
 * RubyConf Taiwan 2016
 */

@import "bemify";
//  CSS framework //
@import "bootstrap";

@import "mixin";
@import "setting";

@import "layout/nav";
@import "layout/home";
@import "layout/news";
@import "layout/speaker";
@import "layout/schedule";
@import "layout/venue";
@import "layout/coc";
@import "layout/sponsor";
@import "layout/staff";
@import "layout/footer";

body{
  background: url(../images/landing/bg.jpg) no-repeat, $brown-light;
  background-size: contain;
  color: #EFEBE9;
  font-family: 'Questrial', "Microsoft JhengHei", sans-serif;

  p{
    font-size: 16px;
  }

  a{
    &:link, &:hover, &:visited, &:active{
      text-decoration: none;
    }
  }
}

@include block('main') {
  position: relative;

  section + section{
    margin-top: 20px;
  }

  @include block('row-fix'){
    margin: 0;
  }

  @media (max-width: $screen-sm) {
    background-image: url(../images/background/cave_bottom.svg) ;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 180% auto;
  }
  
  @media (min-width: $screen-sm) {
    background-image:
      url(../images/background/cave_top.svg),
      url(../images/background/cave_left.svg), 
      url(../images/background/cave_right.svg);
    background-position: top, left, right;
    background-repeat: no-repeat, repeat-y, repeat-y;
    background-size: contain;
  }

  @include block('title') {
    background: url(../images/gem_icon.png) no-repeat;
    background-size: auto 100%;
    background-position: 0 center;
    margin-left: -20px;
    padding: 20px 0 20px 60px;
    
    @media (min-width: $screen-sm) {
      margin-left: -30px;
      padding: 25px 0  25px 80px;
    }

    h1{
      font-family: 'Poiret One', sans-serif;
      font-weight: 700;
      display: inline;
      font-size: 28px;

      @media (min-width: $screen-sm) {
        font-size: 32px;
      }
    }
  }
}
