footer{
  background-image: url(../images/background/cave_bottom.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 120px;

  @include block('copyright') {
    float: left;
    width: 50%;
    height: 100%;
    opacity: 0.8;
    text-align: right;
    padding: 60px 50px 0 0;
  }

  @include block('social-link') {
    float: left;
    width: 50%;
    height: 100%;
    opacity: 0.8;
    padding: 70px 0 0 80px;

    @media (min-width: $screen-md) {
      padding: 70px 0 0 350px;
    }

    img{
      width: 30px;
      margin-right: 10px;
    }
  }
}