footer{
  min-height: 100px;
  opacity: 0.8;

  @media (min-width: $screen-md) {
    min-height: 120px;
  }

  @include block('social-link') {
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;

    img{
      width: 30px;
      margin: 0 5px;
    }
  }
}