#landing {
  position: relative;
  z-index: -100;

  .mask {
    position: absolute;
    width: 100%;
    height: 100px;

    bottom: -1px;
    background-image: linear-gradient(rgba($brown-light, 0), $brown-light);
  }
}
