#landing {
  position: relative;
  z-index: -100;

  @include block('mask') {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: -1px;
    background-image: linear-gradient(rgba($brown-light, 0), $brown-light);
  }
}

@include block('super'){
  font-family: 'Poiret One', sans-serif;
  width: 100%;
  height: 65vh;
  padding: 20px 0;

  @media (min-width: $screen-sm) {
    position: relative;
    height: auto;
  }

  @include element('title'){
    text-align: center;
    font-size: 58px;
    width: 100%;
    height: 60%;
    opacity: 0;

    @media (min-width: $screen-sm) {
      text-align: left;
      position: absolute;
      width: auto;
      top: 40px;
      left: 27%;
    }

    @media (min-width: $screen-md) {
      top: 80px;
      left: 27%;
    }

    h1{
      position: absolute;
      background: -webkit-linear-gradient(#4a569d, #B71C1C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
      font-size: 58px;
      width: 100%;
      margin: 0;

      @include state('mask'){
        background: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgba(#fff, 0.5);

        @media (min-width: $screen-sm) {
          text-shadow: 0px 0px 10px rgba(white, 0.5);
        }
      }

      @media (min-width: $screen-sm) {
        width: 300px;
        font-size: 42px;
      }
      @media (min-width: $screen-md) {
        font-size: 64px;
      }
    }
  }

  @include element('sub'){
    text-align: center;
    width: 100%;
    opacity: 0;

    @media (min-width: $screen-sm) {
      position: absolute;
      text-align: left;
      width: auto;
      top: 220px;
      left: 27%;
    }

    @media (min-width: $screen-md) {
      top: 320px;
    }

    p{
      font-size: 18px;

      @media (min-width: $screen-md) {
        font-size: 22px;
      }

      @include state('venue'){
        font-size: 16px;

        @media (min-width: $screen-md) {
          font-size: 20px;
        }
      }
    }
  }
}

@include block('register-btn') {
  @include transition(all 0.3s);
  @include scaling();
  background: url(../images/register_bubble.svg) no-repeat;
  background-size: contain;
  position: absolute;
  margin-left: 68%;
  opacity: 0;
  
  color: $brown-alt;
  text-align: center;
  font-family: 'Poiret One', sans-serif;
  font-weight: 700;

  text-shadow: 0px 0px 10px rgba($yellow, 0.5);

  &:link, &:visited, &:active{
    color: $brown-alt;
  }

  &:hover{
    color: $red-dark;
    opacity: 1;
  }

  @media (min-width: $screen-sm) {
    top: 60px;
    width: 200px;
    padding: 50px 0; 
    font-size: 32px;
  }
  @media (min-width: $screen-md) {
    top: 120px;
    width: 235px; 
    padding: 55px 0; 
    font-size: 38px;
  }

  @include element('mobile') {
    background-color: $brown-alt;
    border-radius: 4px;
    width: 200px;
    margin: 25px auto 0;
    padding: 10px 0;
    opacity: 0;

    color: #EFEBE9;
    text-align: center;
    font-family: 'Poiret One', sans-serif;
    font-weight: 700;
    font-size: 20px;

    &:link, &:hover, &:visited, &:active{
      color: #EFEBE9;
    }
  }
}