@include block('c-navbar') {
  border-width: 0;
  margin: 0;

  background-image: url(../images/background/cave_top.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 90% 0;
  background-size: 200% auto;
  min-height: 60px;

  @media (min-width: $screen-sm) {
    background-size: contain;
    min-height: 80px;
  }

  @media (min-width: $screen-md) {
    min-height: 120px;
  }

  @include block('social-link') {    
    position: absolute;
    width: 40%;
    top: 10px;
    right: 10px; 
    opacity: 0.8;

    @media (min-width: $screen-md) {
      top: 20%;
      right: 5%; 
    }

    img{
      float: right;
      width: 30px;
      margin: 0 5px;

      @media (min-width: $screen-md) {
        width: 35px;
      }
    }
  }

  @include block('navbar-nav') {

    li{
      background-image: url(../images/nav_element.png);
      background-size: auto 100%;
      position: fixed;
      width: 100px;
      height: 100px;

      @media (min-width: $screen-md) {
        width: 120px;
        height: 120px;
      }

      &:hover{
        background-image: url(../images/nav_element_hover.png);
        a{
          visibility: visible;
        }
      }

      a{
        width: 100%;
        height: 100%;
        text-align: center;
        color: white;
        font-size: 16px;
        visibility: hidden; 

        &:hover{
          background-color: transparent;
        }

        @media (min-width: $screen-md) {
          font-size: 18px;
        }
      }

      @include state('active') {
        background-image: url(../images/nav_element_hover.svg);
        a{
          visibility: visible;
        }
      }
    }

  @include element('home') {
      transform: rotate(10deg);
      background-position: -7px 0;

      top: 5vh;
      left: 2vw;

      @media (min-width: $screen-md) {
        background-position: -4px 0;
      }

      a{
        line-height: 70px;
        @media (min-width: $screen-md) {
          line-height: 90px;
        }
      }
    }

  @include element('speaker') {
      transform: rotate(-20deg);
      background-position: -100px 0;
      top: 17vh;
      left: 5vw;

      @media (min-width: $screen-md) {
        background-position: -120px 0;
      }

      a{
        line-height: 45px;
        @media (min-width: $screen-md) {
          line-height: 65px;
        }
      }
    }

  @include element('schedule') {
      transform: rotate(10deg);
      background-position: -200px 0;
      top: 28vh;
      left: 2vw;

      @media (min-width: $screen-md) {
        background-position: -240px 0;
      }

      a{
        line-height: 68px;
        @media (min-width: $screen-md) {
          line-height: 88px;
        }
      }
    }

  @include element('venue') {
      transform: rotate(-5deg);
      background-position: -300px 0;
      top: 40vh;
      left: 5vw;

      @media (min-width: $screen-md) {
        background-position: -360px 0;
      }

      a{
        line-height: 85px;
        @media (min-width: $screen-md) {
          line-height: 105px;
        }
      }
    }

  @include element('coc') {
      background-position: -400px 0;
      top: 53vh;
      left: 2vw;

      @media (min-width: $screen-md) {
        background-position: -480px 0;
      }

      a{
        line-height: 70px;
        @media (min-width: $screen-md) {
          line-height: 90px;
        }
      }
    }

  @include element('sponsor') {
      transform: rotate(10deg);
      background-position: -500px 0;
      top: 66vh;
      left: 3vw;

      @media (min-width: $screen-md) {
        background-position: -600px 0;
      }

      a{
        line-height: 65px;
        @media (min-width: $screen-md) {
          line-height: 85px;
        }
      }
    }

  @include element('staff') {
      transform: rotate(-15deg);
      background-position: -600px 0;
      top: 80vh;
      left: 2vw;

      @media (min-width: $screen-md) {
        background-position: -720px 0;
      }

      a{
        line-height: 65px;
        @media (min-width: $screen-md) {
          line-height: 85px;
        }
      }
    }
  }
}