nav{
  pointer-events: none;
}

@include block('c-navbar') {
  border-width: 0;
  margin: 0;

  @include block('social-link') {    
    position: absolute;
    width: 40%;
    top: 10px;
    right: 10px; 
    opacity: 0.8;

    @media (min-width: $screen-md) {
      top: 20%;
      right: 5%; 
    }

    img{
      float: right;
      width: 30px;
      margin: 0 5px;

      @media (min-width: $screen-md) {
        width: 35px;
      }
    }
  }

  @include block('navbar-nav') {
    pointer-events: all;

    // Mobile Nav
    @include size(100%, 100%);
    background-color: #060b0e;
    position: fixed;
    z-index: 1000;
    top: 0%;
    margin-top: 0;
    display: none;
    

    &:target{
      display: block;
    }

    @include element('close'){
      @include size(25px, 25px);
      background-image: url(../images/icon_close.svg);
      background-size: cover;
      display: block;
      position: absolute;
      right: 0;
      margin: 20px;
    }

    @media (min-width: $screen-sm) {
      @include size(100%, auto);
      background-color: transparent;
      display: block;
    }

    li{
      background-image: url(../images/nav_element.png);
      background-size: auto 100%;
      position: fixed;

      @include size(60px, 60px);
      margin-left: 15%;
      padding-left: 60px;

      @media (min-width: $screen-sm) {
        @include size(100px, 100px);
        margin: 0;
        padding: 0;
      }

      @media (min-width: $screen-md) {
        @include size(120px, 120px);
      }

      &:hover{
        @media (min-width: $screen-sm) {
          background-image: url(../images/nav_element_hover.png);
          a{
            visibility: visible;
          }
        }
      }

      a{
        @include size(100%, 100%);
        font-family: 'Poiret One', sans-serif;
        font-weight: 700;
        text-align: center;
        color: white;
        font-size: 24px;

        &:link, &:visited, &:hover, &:active {
          background-color: transparent;
        }

        @media (min-width: $screen-sm) {
          visibility: hidden;
          font-size: 18px;
        }

        @media (min-width: $screen-md) {
          font-size: 20px;
        }
      }

      @include state('active'){
        @media (min-width: $screen-sm) {
          background-image: url(../images/nav_element_hover.png);
          a{
            visibility: visible;
          }
        }
      }
    }

    @include element('home') {
      top: 5%;

      @media (min-width: $screen-sm) {
        transform: rotate(10deg);
        top: 5vh;
        left: 2vw;
      }

      a{
        line-height: 40px;
        @media (min-width: $screen-sm) {
          line-height: 70px;
        }
        @media (min-width: $screen-md) {
          line-height: 90px;
        }
      }
    }

    @include element('news') {

      background-position: -240px 0;
      top: 18%;

      @media (min-width: $screen-sm) {
        transform: rotate(-10deg);
        background-position: -400px 0;
        top: 17vh;
        left: 5vw;
      }

      @media (min-width: $screen-md) {
        background-position: -480px 0;
      }

      a{
        line-height: 40px;
        @media (min-width: $screen-sm) {
          line-height: 70px;
        }
        @media (min-width: $screen-md) {
          line-height: 90px;
        }
      }
    }

    @include element('speaker') {

      background-position: -60px 0;
      top: 31%;

      @media (min-width: $screen-sm) {
        transform: rotate(20deg);
        background-position: -100px 0;
        top: 30vh;
        left: 2vw;
      }

      @media (min-width: $screen-md) {
        background-position: -120px 0;
      }

      a{
        line-height: 40px;
        @media (min-width: $screen-sm) {
          line-height: 45px;
        }
        @media (min-width: $screen-md) {
          line-height: 65px;
        }
      }
    }

    @include element('schedule') {

     background-position: -120px 0;
      top: 44%;

      @media (min-width: $screen-sm) {
        transform: rotate(-10deg);
        background-position: -200px 0;
        top: 42vh;
        left: 5vw;
      }

      @media (min-width: $screen-md) {
        background-position: -240px 0;
      }

      a{
        line-height: 40px;
        @media (min-width: $screen-sm) {
          line-height: 68px;
        }
        @media (min-width: $screen-md) {
          line-height: 88px;
        }
      }
    }

    @include element('venue') {

      background-position: -180px 0;
      top: 57%;

      @media (min-width: $screen-sm) {
        transform: rotate(5deg);
        background-position: -300px 0;
        top: 55vh;
        left: 2vw;
      }

      @media (min-width: $screen-md) {
        background-position: -360px 0;
      }

      a{
        line-height: 40px;
        @media (min-width: $screen-sm) {
          line-height: 85px;
        }
        @media (min-width: $screen-md) {
          line-height: 105px;
        }
      }
    }

    @include element('coc') {

      background-position: -360px 0;
      top: 70%;

      @media (min-width: $screen-sm) {
        transform: rotate(-10deg);
        background-position: -600px 0;
        top: 68vh;
        left: 5vw;
      }

      @media (min-width: $screen-md) {
        background-position: -720px 0;
      }

      a{
        line-height: 40px;
        @media (min-width: $screen-sm) {
          line-height: 60px;
        }
        @media (min-width: $screen-md) {
          line-height: 80px;
        }
      }
    }

    @include element('sponsor') {

      background-position: -300px 0;
      top: 83%;

      @media (min-width: $screen-sm) {
        transform: rotate(10deg);
        background-position: -500px 0;
        top: 80vh;
        left: 2vw;
      }

      @media (min-width: $screen-md) {
        background-position: -600px 0;
      }

      a{
        line-height: 40px;
        @media (min-width: $screen-sm) {
          line-height: 65px;
        }
        @media (min-width: $screen-md) {
          line-height: 85px;
        }
      }
    }
  }

  // Mobile - Hambuger Icon 
  @include block('mobile-nav'){
    @include size(45px, 45px);
    background: url(../images/mobile_nav.svg) $brown-dark no-repeat;
    background-size: 75% 75%;
    background-position: center;
    display: block;
    position: absolute;
    right: 0;
    padding: 10px;
    margin: 10px;
  }
}
