section#news{

  @include block('news'){
    width: 100%;
    margin: 0 auto;
    position: relative;

    @media (min-width: $screen-sm) {
      padding: 0 10px;
      width: 95%; 
    }

    @include element('link'){
      background: url(../images/gem_icon_alt_l.png) no-repeat;
      background-position: 0 50%;
      background-size: 40px;
      
      @include transition(all 0.3s);
      width: 100%;
      min-height: 60px;
      display: block;
      color: white;
      padding: 10px 0 10px 50px;
      overflow: auto;

      @media (min-width: $screen-sm) {
        background-size: 60px;
        padding-left: 80px; 
      }

      &:hover{
        color: $brown;
        text-decoration: none;
      }

      @include element('date'){
        font-size: 14px;
        line-height: 30px;
        margin: 0 20px 0 0;

        @media (min-width: $screen-sm) {
          float: left;
          line-height: 60px;
        }
      }

      @include element('title'){
        font-size: 16px;
        line-height: 40px;
        margin: 0;

        @media (min-width: $screen-sm) {
          float: left;
          line-height: 60px;
          font-size: 18px;
        }
      }
    }
    
    @include element('more'){
      @include size(100%, 100%);
      background-color: #060b0e;
      visibility: hidden;
      overflow: scroll;
      position: fixed;
      z-index: 1000;
      top: 0%;
      left: 0%;
      padding-top: 50px;

      +.news__link{
        border-top: 1px dotted $brown-alt;
      }

      &:target{
        visibility: visible;
      }

      @include element('close'){
        @include size(25px, 25px);
        background-image: url(../images/icon_close.svg);
        background-size: cover;
        display: block;
        margin: 0 auto 30px;
      }

      @include element('cover'){
        width: 100%;
      }

      @include element('date'){
        color: #999;
      }

      @include element('title'){
        font-size: 20px;
      }

      @include element('content'){
        padding: 20px 0;
        font-size: 16px;
      }
    }
  }
}