#sponsor{
  text-align: center;

  @include block('title') {
    text-align: left;
  }

  @include block('sponsors'){

    @include element('sub-title') {
      background: url(../images/gem_icon_alt_l.png), url(../images/gem_icon_alt_r.png);
      background-repeat: no-repeat; 
      background-position: 20% -10px, 80% -10px;
      color: #E3F2FD;

      @media (min-width: $screen-sm) {
        background-position: 30% -10px, 70% -10px;
      }

      @media (min-width: $screen-md) {
        background-position: 40% -10px, 60% -10px;
      }

      @include state('platinum'){
        background-position: 10% -10px, 90% -10px;

        @media (min-width: $screen-sm) {
          background-position: 25% -10px, 75% -10px;
        }

        @media (min-width: $screen-md) {
          background-position: 35% -10px, 65% -10px;
        }
      }

      @include state('speaker'){
        background-position: 10% -10px, 90% -10px;

        @media (min-width: $screen-sm) {
          background-position: 25% -10px, 75% -10px;
        }

        @media (min-width: $screen-md) {
          background-position: 35% -10px, 65% -10px;
        }
      }

      padding: 25px 0;
      text-align: center;
      
      h2{
        display: inline;
        font-size: 24px;

        @media (min-width: $screen-sm) {
          font-size: 28px;
        }
      }
    }

    @include element('row'){
      display: block;
      overflow: auto;

      @include element('logo') {
        display: inline-block;
        margin: 10px 5px;

        @media (min-width: $screen-sm) {
          margin: 10px 20px;
        }

        img{
          width: 100%;
        }
      }

      @include state('ruby'){
        img{
          width: 280px;
          max-width: 280px; 
        }
      }

      @include state('platinum'){
        img{
          width: 250px;
          max-width: 250px; 
        }
      }

      @include state('gold'){
        img{
          width: 220px;
          max-width: 220px; 
        }
      }

      @include state('silver'){
        img{
          width: 200px;
          max-width: 200px; 
        }
      }

      @include state('speaker'){
        img{
          width: 200px;
          max-width: 200px; 
        }
      }
    }
  }

  @include block('sponsor-cfs'){
    @include transition(all 0.3s);    
    @include size(90%, 60px);
    background-color: $brown-alt;
    margin: 20px auto;

    &:hover{
      background-color: $brown-alt - #111;
    }

    @media (min-width: $screen-sm) {
      margin: 40px auto 20px;
    }

    p{
      margin: 0;
      display: inline-block;
      font-size: 18px;

      @media (min-width: $screen-sm) {
        font-size: 20px;
      }

      .cht{
        font-size: 17px;

        @media (min-width: $screen-sm) {
          font-size: 19px;
        }
      }
    }
    
    a{
      color: #EFEBE9;
      line-height: 60px;
      padding: 5px 0;
      margin: 0 10px;

      &:hover{
        text-decoration: none;
        border-bottom: 1px dotted #EFEBE9;
      }
    }
  }
}
