#staff{

  @media (min-width: $screen-sm) {
    margin-top: 30px;
  }

  @include block('staff'){
    display: block;
    text-align: center;

    img{
      @include floating();
    }

    @include element('more'){
      @include size(100%, 100%);
      background-color: #060b0e;
      visibility: hidden;
      overflow: scroll;
      position: fixed;
      z-index: 1000;
      top: 0%;
      left: 0%;
      padding-top: 50px;

      @media (min-width: $screen-sm) {
        padding-top: 80px;
      }

      &:target{
        visibility: visible;
      }

      @include element('close'){
        @include size(25px, 25px);
        background-image: url(../images/icon_close.svg);
        background-size: cover;
        display: block;
        margin: 0 auto;
      }

      @include element('info'){
        background: url(../images/gem_icon.png) no-repeat;
        position: relative;
        width: 100%;
        height: 100px;
        margin: 10px auto;
        padding: 10px 0 0 20px;
        text-align: center;

        @media (min-width: $screen-sm) {
          width: 70%;
          text-align: left;
          padding: 10px 0 0 100px;
        }
        @media (min-width: $screen-md) {
          width: 45%;
        }
      }
      
      @include element('name'){
        margin: 0;
        line-height: 50px;
        font-size: 20px;
        @media (min-width: $screen-sm) {
          font-size: 24px;
        }
      }

      @include element('title'){
        font-size: 16px;
        margin: 0;
      }

      @include element('url'){
        color: white;
        margin-left: 20px;
        opacity: 0.8;

        &:hover{
          opacity: 1;
        }
      }
    }
  }
}